:root {
  --body-margin: 0;
  /* FOR DARK THEME */
  --dark-theme-bg-color: #141414;
  --dark-theme-main-text-color: white;
  --dark-theme-second-text-color: black;
  --dark-theme-hamburger-menu-bg-color: white;
  --dark-theme-hamburger-menu-text-color: black;
  --dark-theme-footer-bg-color: white;
  /* FOR LIGHT THEME */
  --light-theme-bg-color: #ffffff;
  --light-theme-main-text-color: #121212;
}

body {
  /* height: 100vh; */
  margin: var(--body-margin);
  background-color: var(--dark-theme-bg-color);
  color: var(--dark-theme-main-text-color);

  overflow-y: visible;
}

.menu-container {
  height: 100px;
  display: grid;
  grid-template-columns: 1fr 8fr;
  grid-template-rows: 1fr;
  grid-column-gap: 0px;
  grid-row-gap: 0px;
}

.user-profile-icon-wrapper {
  display: grid;
  place-items: center;
}

.content-menu-wrapper {
  background-color: white;
  border-bottom-left-radius: 30px;
}

.error {
  font-size: 22px;
  color: red;
}