

.pc-options-container {
  display: none;
}

.mobile-options-hidden {
  display: none;
}

.mobile-options-active {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  gap: 30px;

  animation: hamburger-menu-opening-anim 250ms ease-out forwards;
}

.menu-icon {
  position: fixed;
  top: 5px;
  right: 5px;
}

.menu-icon-opened {
  position: fixed;
  top: 5px;
  right: 250px;
  animation: hamburger-menu-opening-anim 250ms ease-out forwards;
}

#mobile-options-parent {
  width: 250px;
  height: calc(100vh - var(--body-margin));
  position: fixed;
  top: 0;
  right: 0;
  background-color: var(--dark-theme-hamburger-menu-bg-color);
  color: var(--dark-theme-hamburger-menu-text-color);
}

@keyframes hamburger-menu-opening-anim {
  from {
    transform: translateX(250px);
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}

@media screen and (min-width: 684px) {
  .menu-icon {
    display: none;
  }

  .menu-icon-opened {
    display: none;
  }

  .pc-options-container {
    display: block;
  }

  .mobile-options-active {
    display: none;
  }
}